{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "lf",
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.{js,cjs,ts,tsx}",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
